/* CSS style-sheet for the COMP2110 Dashboard 2025 */

body {
    background-color: #c8c8c8;
    padding-top: 10em;
}
header {
    background-color: green;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    border-style: solid;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    padding-bottom: 19px
}

/*     HOME,   SETTING  etc.    */
ul{
    background-color: #005100; 
    color-scheme: light;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 5px;
    list-style-type: none;
}

#header-date{
    font-weight: bolder;
    background-color: rgb(55, 139, 165);
    display: inline-block;
    position: absolute;
    left: 2px;
    padding-right: 5px;
    padding-left: 3px;
    border-radius: 8px;
}




/*       THE ADVERTISEMENT       */
#advertising {
    position: absolute;
    right: 2%;
}
#advertising p {
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-style: solid;
    border-radius: 5px;
}


/*   HOME WEATHER    */
#weather-home{
    display: grid;
    padding-left: 1em;
    border-style: solid;
    border-radius: 10px;

    background-image: ;
}
#weather-city{
    display: grid;;
}